html {
    background-image: url(capa.jpg);
    background-position: center;
}

body {
    text-align: center;
    font-family: sans-serif;
}
.divlogos {
    display: inline-block;
}

.geral {
    background-color:rgba(255, 255, 255, 0.5);
    margin-left: 22rem;
    margin-right: 22rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    margin-top: 6rem;
}

.divSelecao {
    margin: 2rem
}

.divTempo {
    margin: 2rem;
}

.divLinhas {
    margin: 2rem;
}

.divCalculo {
    margin: 2rem;
}